body {
    background-image: url('../img/dark_geometric.png');
}

.container {
    color: white;
}

#map div {
    color: black;
}

#findMe {
    float: right;
}

img {
    display: block;
    margin: auto;
    padding: 20px;
}

img.techhire {
    padding: 0px;
}

.dropdown-menu li:hover {
    background-color: rgb(247, 247, 247);
}

.dropdown-menu a,
.dropdown-menu a:hover,
.notZelda,
.notZelda:hover {
    color: black;
    text-decoration: none;
}

.btn-info {
    border-color: #17a2b8;
}

p small {
    text-align: center;
}

.cloneRes {
    margin: 15px;
    word-wrap: break-word;
}

.cloneRes:hover,
#directions:hover {
    cursor: pointer;
}

#directions:hover {
    color: rgb(2, 94, 101);
    font-weight: bold;
}

.cloneRes.homeless {
    font-family: 'Lato';
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.721);
    color:#7f8c8d;
}

.desc {
    display: none;
}

a.orgPhone,
a.orgPhone:hover,
a.orgSite,
a.orgSite:hover {
    color: #17a2b8;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    img.techhire {
        width: "400px";
    }
}